<div class="container">
	<!-- First row (start) -->
	<div class="row ">
		<!-- Show traffic pole -->
		<div class="col-xl-6">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Traffic pole name:</span>
				<span class="form-control" style="background-color: #FFFFFF">{{ Camera.Parent.Name }}</span>
			</div>
		</div>
		<!-- Show camera -->
		<div class="col-xl-6">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Camera Id</span>
				<span class="form-control" style="background-color: #FFFFFF">Camera</span>
			</div>
		</div>
	</div>
	<!-- First row (start) -->
	<br>

	<!-- Second row (start) -->
	<div class="row">
		<!-- Show camera stream -->
		<iframe width="100%" height="400"
			src="https://www.youtube.com/embed/XGSy3_Czz8k">
		</iframe> 
	</div>
	<!-- Second row (end) -->
	<br>

	<!-- Third row (start) -->
	<div class="row">
		<!-- Datapicker From -->
		<div class="col-xl-4" style="margin-bottom: 10px;">
	        <div class="input-group bootstrap-timepicker timepicker">
	        	<span class="input-group-addon" id="basic-addon1">From</span>				
	            <input id="{{ComponentId}}_fromdiv" type="text" class="form-control input-small" [(ngModel)]="from"
	            																				 [formControl]="fromForm">
        	</div>
		</div>

		<!-- Datepicker To -->
		<div class="col-xl-4" style="margin-bottom: 10px;">
	        <div class="input-group bootstrap-timepicker timepicker">
	        	<span class="input-group-addon" id="basic-addon1">To</span>
	            <input id="{{ComponentId}}_todiv" type="text" class="form-control input-small" [(ngModel)]="to"
	            																			   [formControl]="toForm">
        	</div>
		</div>

		<!-- Graph type dropdown -->
		<div class="col-xl-4" style="margin-bottom: 10px;">
			<select id="{{ComponentId}}_GraphType" class="custom-select" style="float:right; width: 100%;" 
																		(change)="onGraphTypeChange($event.target.value)"
																		[(ngModel)]="graphType"
																		[formControl]="graphTypeForm">
				<option value="" disabled selected>Select graph type</option>
				<option value="LineGraph">Line graph</option>
			  	<option value="BarGraph">Bar graph</option>				  	
			</select>
		</div>
	</div>
	<!-- Third row (end) -->	
	<br>

	<!-- Four row (start) -->
	<div class="row">
		<!-- Time update dropdown -->
		<div class="col-xl-4" style="margin-bottom: 10px;">
			<select id="{{ComponentId}}_ViewType" class="custom-select" style="width: 100%" 
																		(change)="onViewTypeChange($event.target.value)"
																		[(ngModel)]="viewType"
																		[formControl]="viewTypeForm">
				<option value="" disabled selected>Select view type</option>
				<option value="Hour">Hour</option>
			  	<option value="Day">Day</option>
			  	<option value="Weekend">Weekend</option>
				<option value="Month">Month</option>
				<option value="Year">Year</option>
			</select>
		</div>

		<!-- Reset and Viewgraph button -->
		<div class="col-xl-8" style="margin-bottom: 10px;">
			<div style="float:right" class="btn btn-primary" (click)="ClickViewGraph()"><i class="fa fa-arrow-right"></i> &nbsp; View graph</div>
			<div style="float:right; margin-right: 20px" class="btn btn-primary" (click)="ClickReset()"><i class="fa fa-refresh"></i> &nbsp; Reset</div>
		</div>
	</div>
	<!-- Four row (end) -->
	<br>

	<!-- Fifth row (start) -->
	<!-- Error message -->
	<div class="row" *ngIf="!group.valid">
		<div class="col-xl-12">
			<div class="alert alert-danger" style="border-color: #ebccd1;
												   background-color: #f2dede;
												   color: #a94442;">
			  	<ul>
			  		<li *ngIf="fromToGroup.hasError('FromLessTo')">'From' must less than 'To' date.</li>
			  		<li *ngIf="fromForm.hasError('required')">Please select 'From' date.</li>
			  		<li *ngIf="toForm.hasError('required')">Please select 'To' date.</li>
			  		<li *ngIf="graphTypeForm.hasError('required')">Please select 'Graph Type'.</li>
			  		<li *ngIf="viewTypeForm.hasError('required')">Please select 'view Type'.</li>		  		
			  	</ul>
			</div>
		</div>
	</div>
	<!-- Fifth row (end) -->

	<!-- Six row (start) -->
	<div class="row">
		<chart style="display: block;" [options]="chartOptions" (load)="SaveChart($event.context)"></chart>
	</div>
	<!-- Six row (end) -->

	<!-- Warning popup -->
    <a id="CameraAnnoucementOpenModalBtn" class="btn btn-danger" style="display: none;" data-toggle="modal" data-target="#CameraAnnoucementModal"></a>
    <div class="modal fade" id="CameraAnnoucementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div #AnnoucementModalContainer></div>
                <button id="CameraAnnoucementCloseModalBtn" type="button" style="display: none;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>