<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form">
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Pole_Id <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="pole_id" [(ngModel)]="TrafficPole.PoleId" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Name <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="name" [(ngModel)]="TrafficPole.Name" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Active <br></label>
				</div>
				<div class="col-sm-10">
					<input type="checkbox" checked="" data-toggle="toggle" [(ngModel)]="TrafficPole.IsActive" [ngModelOptions]="{standalone: true}">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Lat <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="lat" [(ngModel)]="TrafficPole.Lat" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Lon <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="lon" [(ngModel)]="TrafficPole.Lon" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Height <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="height" [(ngModel)]="TrafficPole.Height" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Width&nbsp; <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="width" [(ngModel)]="TrafficPole.Width" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Type <br></label>
				</div>
				<div class="col-sm-10">
					<input type="checkbox" checked="" data-toggle="toggle" [(ngModel)]="TrafficPole.Type" [ngModelOptions]="{standalone: true}">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label">Pole_Angle <br></label>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail3" placeholder="pole_angle" [(ngModel)]="TrafficPole.PoleAngle" [ngModelOptions]="{standalone: true}" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="inputEmail3" class="control-label" contenteditable="true">Cameras <br></label>
				</div>
				<div class="col-sm-10">
					<div class="container">
						<!-- Display TrafficPole.Cameras (start) -->
						<div class="row" *ngFor="let Camera of TrafficPole.Cameras; let idx=index">
							<div class="card">
							    <div class="card-header" role="tab" id="headingOne">
							    	<h5 class="mb-0">
							        	<a data-toggle="collapse" data-parent="#accordion" href="#Camera{{idx+1}}Card" aria-expanded="true" aria-controls="collapseOne" (click)="ClickCamera(idx, Camera)">Camera {{ idx + 1 }}</a>

							        	<!-- Delete Camera button -->
							        	<div class="btn btn-danger" style="float: right; 
							        									   padding-top: 0px; 
							        									   padding-bottom: 0px" 
					        									    (click)="ClickDeleteCamera(idx, Camera)"><i class="fa fa-minus"></i></div>
							    	</h5>
							    	<div #CameraYesnoContainer></div>
							    </div>

							    <div id="Camera{{idx+1}}Card" class="collapse" role="tabpanel" aria-labelledby="headingOne">
								    <div class="card-block">
								        <div #CameraContainer></div>
								    </div>
							    </div>
							</div>							
						</div>	
						<!-- Display TrafficPole.Cameras (end) -->

						<div class="row"><div style="float:right" class="btn btn-primary" (click)="ClickCreateCamera()"><i class="fa fa-plus-circle"></i> &nbsp; Create camera</div></div>
					</div>
				</div>
			</div>
			<div class="form-group row" [style.display]="isShowYesnoPanel ? 'none' : ''">
				<div class="col-sm-offset-2 col-sm-5">
					<div *ngIf="!IsEdit" type="submit" class="btn btn-primary" (click)="ClickCreate()">Create</div>
					<div *ngIf="IsEdit" type="submit" class="btn btn-primary" (click)="ClickEdit()">Edit</div>
					<div id="CancelTrafficPoleEditModal" class="btn btn-default" data-dismiss="modal">Cancel</div>
				</div>
			</div>

			<!-- Show YesNo panel -->
			<div class="form-group row">
				<div class="col-sm-12">
					<div #YesnoContainer id="YesnoContainer"></div>
				</div>
			</div>			
		</form>
	</div>
</div>