<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Camera Settings
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-video-camera"></i> Camera Settings
                </li>
            </ol>
        </div>
    </div>
    

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                Traffic poles settings

                <!-- Create Button (start) -->
                <div style="float: right;" data-toggle="modal" data-target="#ShowCreateTrafficPole">
                    <button class="btn btn-primary" (click)="ClickCreate()"><i class="fa fa-plus-circle"></i> &nbsp; Create</button>
                </div>
                <!-- Create Button (end) -->

                <!-- Action Button (start) -->
                <div style="float: right; margin-right: 20px;">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="" id="DropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </a>

                        <div class="dropdown-menu" aria-labelledby="DropdownAction">
                            <a class="btn btn-danger" style="width: 100%; text-align: left;" (click)="SelectDelete()" data-toggle="modal" data-target="#YesnoModal"><i class="fa fa-minus-circle"></i> &nbsp; Delete</a>
                            <a class="btn btn-success" style="width: 100%; text-align: left;" (click)="SelectActive()" data-toggle="modal" data-target="#YesnoModal"><i class="fa fa-toggle-on"></i> &nbsp; Active</a>
                            <a class="btn btn-active" style="width: 100%; text-align: left;" (click)="SelectDeactive()" data-toggle="modal" data-target="#YesnoModal"><i class="fa fa-toggle-off"></i> &nbsp; Deactive</a>
                        </div>
                    </div>
                </div>
                <!-- Action Button (end) -->

                <!-- Select number of items (start) -->
                <div style="float: right; margin-right: 20px;">
                    <select class="custom-select" style="font-size: 1rem; border-radius: 0.25rem;" (change)="onNumItemsChange($event.target.value)">
                        <option value="5" selected>5 items</option>
                        <option value="10">10 items</option>
                        <option value="20">20 items</option>
                        <option value="50">50 items</option>
                        <option value="100">100 items</option>                        
                    </select>
                </div>
                <!-- Select number of items (end) -->
            </h3>            
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" aria-label="" #CheckAll (click)="ClickCheckAll(CheckAll)">
                    </th>
                    <th>Pole_id</th>
                    <th>Nam</th>
                    <th>Lat</th>
                    <th>Lon</th>
                    <th>Active</th>
                    <th>.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trafficPole of TrafficPoles; let idx=index; let even = even; let odd = odd" [ngClass]="{'table-active': odd}">
                    <td>
                        <input type="checkbox" [(ngModel)]="ChoiceTrafficPoles[idx]" (click)="ClickCheck($event, idx)">
                    </td>                   
                    <td><div data-toggle="modal" data-target="#ShowTrafficPoleInfo" (click)="ShowTrafficPoleInfo(trafficPole)">{{ trafficPole.PoleId }}</div></td>
                    <td><div data-toggle="modal" data-target="#ShowTrafficPoleInfo" (click)="ShowTrafficPoleInfo(trafficPole)">{{ trafficPole.Name }}</div></td>
                    <td><div data-toggle="modal" data-target="#ShowTrafficPoleInfo" (click)="ShowTrafficPoleInfo(trafficPole)">{{ trafficPole.Lat }}</div></td>
                    <td><div data-toggle="modal" data-target="#ShowTrafficPoleInfo" (click)="ShowTrafficPoleInfo(trafficPole)">{{ trafficPole.Lon }}</div></td>
                    <td><div data-toggle="modal" data-target="#ShowTrafficPoleInfo" (click)="ShowTrafficPoleInfo(trafficPole)">{{ trafficPole.IsActive }}</div></td>
                    <td>
                        <!-- Edit button -->
                        <a data-toggle="modal" data-target="#ShowCreateTrafficPole" class="btn btn-primary" (click)="ClickEdit(trafficPole)" >Edit</a>
                        <!-- Delete Button -->
                        <a  data-toggle="modal" data-target="#DeleteModal" class="btn btn-danger" (click)="ClickDelete(trafficPole.PoleId)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example" (init)="getNumItems()">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link btn" (click)="ClickPrevious()">Previous</a></li>

                        <li [ngClass]="{'active': pageData.IsActive,
                                        'page-item': true }"
                            *ngFor="let pageData of Pages.PagesDisplay; let i=index">
                                <a class="page-link" (click)="GetPage(pageData.Display)">{{ pageData.Display }}</a>
                        </li>

                        <li class="page-item"><a class="page-link btn" (click)="ClickNext()">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Delete Modal (Start) -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Delete an item
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>                    
                </div>
                <div class="modal-body">
                    <p>{{ deleteMessage }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteTrafficPole()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal (End) -->

    <!-- Yesno Modal (start) -->
    <div class="modal fade" id="YesnoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div #YesnoModalContainer></div>
                <button id="YesnoModalBtn" type="button" style="display: none;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!-- Yesno Modal (end) -->

    <!-- Show Trafficpole Information Modal (Start) -->
    <div class="modal fade" id="ShowTrafficPoleInfo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Traffic pole information
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>                    
                </div>
                <div class="modal-body">
                    <pre>{{ TrafficPoleInfo | json }}</pre>
                </div>                            
            </div>
        </div>
    </div>
    <!-- Show Trafficpole Information Modal (End) -->                

    <!-- Show create traffic pole Modal (start) -->
    <div class="modal fade" id="ShowCreateTrafficPole" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Create new traffic pole
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>                    
                </div>
                <div class="modal-body">
                    <div #TrafficPoleModalContainer></div>                  
                </div>                            
            </div>
        </div>
    </div>                
    <!-- Show create traffic pole Modal (end) -->

    <!-- Show popup -->
    <popup-cmp [Message]="popupMessage" (PopupListener)="popupType = $event"></popup-cmp>
</div>