<div>
	<!-- Load map button -->
	<div class="row" *ngIf="!isLoadMap">
		<div class="col-xl-12">
			<div class="btn btn-primary" style="float: right" (click)="ClickLoadMap()"><i class="fa fa-map"> &nbsp; Load map</i></div>
		</div>
	</div>

	<!-- Draw map -->
	<div class="row">
		<div class="col-xl-12">
			<div id="minimap-point" style="width: 100%; height: 400px;"></div>	
		</div>
	</div>
	<br>

	<!-- Realtime point -->
	<div class="row">
		<div class="col-xl-6" *ngFor="let componentId of componentIds; let idx=index">
            <div class="jumbotron">
                <i style="right: 4rem; position: absolute; top: 1rem; cursor: pointer" class="fa fa-times-circle fa-2x" (click)="ClickDeletePoint(componentId)"></i>
                <realtime-point-cmp [ComponentId]="CreateComponentId(componentId)" [Point]="selectedTrafficPoints[idx]" [Index]="indexs[idx]"></realtime-point-cmp>
            </div>
        </div>
	</div>
</div>

